<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arora.kushank.easyshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:name=".FillName" />
        <activity android:name=".SendOrRecieve" />
        <activity android:name=".SendActivity" />
        <activity
            android:name=".StatusActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ReceiveActivity"></activity>
    </application>

</manifest>